# Environnement virtuel
venv/
# Cache Python
__pycache__/
*.pyc
# Jupyter
.ipynb_checkpoints/
# Variables d'environnement
.env
# Base de données locale Django
*.sqlite3
# Fichiers système
.DS_Store
Thumbs.db