{% extends "dashboard/base.html" %}

{% block title %}
Accueil | Assurance Risque
{% endblock %}

{% block content %}

<div class="text-center mb-5">

    <h1 class="display-5 fw-bold">
        Plateforme intelligente d'analyse et de prédiction des risques
    </h1>

    <p class="lead text-muted">
        Projet de stage – WAFA Assurance
    </p>

</div>

<div class="row g-4">

    <div class="col-md-4">
        <div class="card shadow h-100">
            <div class="card-body text-center">
                <h3>📊 Dashboard</h3>
                <p>Consulter les statistiques générales.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow h-100">
            <div class="card-body text-center">
                <h3>📈 Analyse</h3>
                <p>Explorer les facteurs de risque.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow h-100">
            <div class="card-body text-center">
                <h3>🤖 Prédiction</h3>
                <p>Prédire le risque de sinistre.</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}